
<style>
    body{background-color: rgb(189, 118, 255);}
    #A{
        color: white;
      }
      #B{
  background-color: #dad7f9;
}
.button{
    background-color: green;
    color: white;
    float: right;
}
fieldset{ width: 25%;}

</style>

<head >
    <h1>Poetry Workshops</h1>
    <p>We will be conducting a number of poetry workshops and symposiums throughout the year.</p>
<p>Please note that the following events are free to members:</p>
<li>A Poetic Perspective</li>
<li>Walt Whitman at War</li>
<li>Found Poems and Outsider Poetry</li>
<p></p>
</head>

<Table CELLPADDING="10" >
    <THEAD BGCOLOR="#3325c6">
        <tr>
            <th ></th>
            <th id="A">New York</th>
            <th id="A">Chicago</th>
            <th id="A">San Fransisco</th>
        </tr></THEAD>
<TBODY bgcolor="#e9e7fd">
    
        <tr id="B" >
            <th rowspan="2" >A Poetic Perspective</th>
            <TD>Sat, 4 Feb 2012</TD>
            <TD>Sat, 3 Mar 2012</TD>
            <td>Sat, 17 Mar 2012</td>
        </tr>
        <tr id="B" >
            <TD>11am-2pm</TD>
            <TD>11am-2pm</TD>
            <td>11am-2pm</td>
        </tr>
        <tr>
            
            <TH rowspan="2">Walt Whitman at War</TH>
            <TD>Sat, 7 Apr 2012</TD>
            <TD>Sat, 5 May 2012</TD>
            <td>Sat, 19 May 2012</td>
        </tr>
        <tr >
            <TD>11am-1pm</TD>
            <TD>11am-1pm</TD>
            <td>11am-1pm</td>
        </tr>
        <tr id="B">
            <TH rowspan="2">Found Poems and Outsider Poetry</TH>
            <TD>Sat, 9 Jun 2012</TD>
            <TD>Sat, 7 Jul 2012</TD>
            <td>Sat, 21 Jul 2012</td>
        </tr>
        <tr id="B" >
            <TD>11am-2pm</TD>
            <TD>11am-2pm</TD>
            <td>11am-2pm</td>
        </tr>
        <tr >
            <th rowspan="2">Natural Deaath:An Exploration</TH>
            <TD>Sat, 4 Aug 2012</TD>
            <TD>Sat, 8 Sep 2012</TD>
            <td>Sat, 15 Sep 2012</td>
        </tr>
        <tr >
            <TD>11am-4pm</TD>
            <TD>11am-4pm</TD>
            <td>11am-4pm</td>
        </tr>
</TBODY>
</table>
<br>
<body >
    <fieldset id="D">
    <p></p>
    <legend> <i>Register your interest</i> </legend>
    <p></p>
    <p></p>
    <form action="">
        <label>Your Name:</label>
        <input type="text" name="name" placeholder="username..."><br>
        <label>Your Email:</label>
        <input type="text" name="email" placeholder="Email....">
        <br><br>
        <label for="cars">Choose a car:</label>
  <select id="cars" name="cars">
    <option value="volvo">New York</option>
    <option value="saab">Chicago</option>
    <option value="fiat">San Fransisco</option>
  
  </select>
<br><br>
<label>Are You a member :</label>
  <input type="radio" id="yes" name="fav_language" value="HTML">
  <label for="yes">Yes</label>
  <input type="radio" id="no" name="fav_language" value="CSS">
  <label for="no">No</label><br>
    </form>
    <input type="submit" value="Register" class="button">
</fieldset>
<br>

</body>

